@use '../abstracts' as *;

.about-button {
    // Ensure the parent container takes up the full width

    .about-us-button {
        width: 380px; // Ensure the button takes up the full width
        display: flex;
        cursor: pointer;
        background: none;
        border: none;
        padding: 0;
        gap: 10px;
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-2px);
            /* Subtle lift effect */
        }
    }

    .text-container {
        background-color: #F7F5EB;
        /* Light pink background */
        border: 2px solid $secondary-color;
        /* Dark border */
        padding: 32px 40px;
        font-size: 16px;
        font-weight: bold;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $secondary-color;
        /* Dark text color */
        flex: 0 0 70%; // Ensure the text container takes up 60% of the space
    }

    .icon-container {
        flex: 0 0 30%; // Ensure the icon container takes up 40% of the space
        height: 100%;
        padding: 22px 0px;
        background-color: #F7F5EB;
        border: 2px solid $secondary-color;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .icon {
        transition: all 0.5s ease;
    }

    .about-us-button:hover .icon {
        animation: spin 1.5s infinite ease-in-out;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}